body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
    background-size: cover;
    padding: 40px 0; /* Add padding to the top and bottom for spacing */
  }
  .bg-2 p {
    color: #ffffff; /* Dark text color for readability */
    font-size: .8em; /* Adjust text size as needed */
    margin: auto; /* Center the paragraph in the container */
    max-width: 500px; /* Maximum width of the text box */
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  .booking-text {
    font-family: 'Arial', sans-serif; /* Change the font family as desired */
    font-size: 1.5em; /* Adjust the size as needed */
    color: #ffffff; /* Change the color as needed */
    margin-bottom: 5px; /* Removes the bottom margin to bring the next element closer */
  }
  .promo-text {
      display: block; /* Makes the text go on its own line */
      text-align: center; /* Centers the text */
      margin-top: 20px; /* Adds space above the text */
    }
    .center-buttons {
        display: flex;
        justify-content: center; /* Centers the buttons horizontally */
        margin-top: 10px; /* Adds space above the buttons */
        margin-bottom: 20px;
    }
    .center-buttons a {
        margin: 0 25px; /* Adds 15 pixels of space to the left and right of each button */
    }
    
    .school-title {
        font-size: 3em; /* Increases the size of the title */
        color: white; /* Changes the color to white */
        text-shadow: 2px 2px 4px #000000; /* Adds a shadow for better readability */
    }
    .contact-info {
      margin-top: 0; /* Reduces the top margin to bring elements closer together */
      margin-bottom: 0;
      line-height: 1.2; /* Adjusts the line height to bring lines closer together */

    }
.promo-section p {
    margin: 0; /* Removes default paragraph margins */
    padding: 2px 0; /* Reduces padding to 2px on the top and bottom */
    line-height: 1.2; /* Adjusts the line height to bring lines closer together */
}
.btn {
    margin: 0 10px; /* Adds space between buttons */
}
  .fab {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: #fff; /* Icon color */
  }